In [1]:
import os
import pandas as pd
import numpy as np
import glob

In [2]:
gene2info_file = '/Users/sahilnalawade/Desktop/Sahil/Projects/hackathon/Gene-Trends/pubmed_citations/data/homo-sapiens/gene_info'
gene2pubmed_file = '/Users/sahilnalawade/Desktop/Sahil/Projects/hackathon/Gene-Trends/pubmed_citations/data/homo-sapiens/gene2pubmed'

In [3]:
df_gene2pubmed = pd.read_csv(gene2pubmed_file, delimiter = '\t')
df_gene2pubmed.columns = ['organisim_id', 'gene_id', 'pubmed_id']

In [4]:
print(df_gene2pubmed.head())
print(df_gene2pubmed.shape)
print(len(df_gene2pubmed['gene_id'].unique()))

   organisim_id  gene_id  pubmed_id
0          9606        1    3458201
1          9606        1    3610142
2          9606        1    8889549
3          9606        1   12477932
4          9606        1   14702039
(1942463, 3)
128851

In [5]:
temp = df_gene2pubmed[['gene_id', 'pubmed_id']]
unique_gene_id = temp.gene_id.unique()
df_grp = temp.groupby(by='gene_id', as_index=False).agg(list)

In [6]:
print(df_grp.head())
print(df_grp.shape)

   gene_id                                          pubmed_id
0        1  [3458201, 3610142, 8889549, 12477932, 14702039...
1        2  [59727, 80233, 89758, 1281457, 1370808, 137423...
2        3  [2478422, 16344560, 19105203, 20617511, 213384...
3        9  [1559981, 1676262, 1968463, 2340091, 7627961, ...
4       10  [1306121, 1381364, 1441598, 1559981, 1676262, ...
(128851, 2)

In [7]:
df_gene_info = pd.read_csv(gene2info_file, delimiter = '\t')
df_gene_info = df_gene_info.iloc[:, :3]
df_gene_info.columns = ['organisim_id', 'gene_id', 'gene_names']

In [8]:
# df_gene_info.columns = ['organisim_id', 'gene_id', 'pubmed_id']
df_gene_info.head()
# print(df_gene_info)

   organisim_id  gene_id gene_names
0          9606        2        A2M
1          9606        3      A2MP1
2          9606        9       NAT1
3          9606       10       NAT2
4          9606       11       NATP

In [9]:
merged_df = pd.merge(df_gene_info, df_grp, on="gene_id")
print(merged_df.shape)
merged_df.head()

(128850, 4)

,organisim_id,gene_id,gene_names,pubmed_id
0,9606,2,A2M,"[59727, 80233, 89758, 1281457, 1370808, 137423..."
1,9606,3,A2MP1,"[2478422, 16344560, 19105203, 20617511, 213384..."
2,9606,9,NAT1,"[1559981, 1676262, 1968463, 2340091, 7627961, ..."
3,9606,10,NAT2,"[1306121, 1381364, 1441598, 1559981, 1676262, ..."
4,9606,11,NATP,"[2340091, 9284941, 16416399, 21995608, 25432241]"

In [10]:
merged_df[merged_df['gene_names'] == 'TP53']

,organisim_id,gene_id,gene_names,pubmed_id
5600,9606,7157,TP53,"[1088347, 1303181, 1321290, 1327751, 1349102, ..."

In [11]:
timeframe = glob.glob('/Users/sahilnalawade/Desktop/Sahil/Projects/hackathon/Gene-Trends/pubmed_citations/data/tmp/timeframe/*.tsv')
print(len(timeframe))

180

In [13]:
pubmed_cite = '/Users/sahilnalawade/Desktop/Sahil/Projects/hackathon/Gene-Trends/data/homo-sapiens-pubmed-citations.tsv'

tsv_data_pubmed = pd.read_csv(pubmed_cite, sep='\t')
gene_list = list(tsv_data_pubmed['# gene'][:20])
df_gene_list = pd.DataFrame(gene_list, columns=['gene_names'])

In [14]:
df_gene_list
df_gene_info

df_merge_list_info = df_gene_list.merge(df_gene_info, how='inner')
df_merge_list_info.head()
gene_id_list = list(df_merge_list_info['gene_id'])

In [15]:
gene_files = '/Users/sahilnalawade/Desktop/Sahil/Projects/hackathon/Gene-Trends/gene_files'

In [16]:
c1 = 1
for idx, row in merged_df.iterrows():
    gene_id = row['gene_id']
    gene_name = row['gene_names']
    gene_pubmed_id = row['pubmed_id']
    # if gene_id in gene_id_list:
    if gene_id == 4609:
        print(c1, idx, gene_id, gene_name)
        c1 +=1
        date_all = []
        cite_all =[]
        for idx1 in range(len(timeframe)):
            tsv_data = pd.read_csv(timeframe[idx1], sep='\t')
            tsv_data.columns = ['date', 'pubmed_id']
            res = sum(ele in list(gene_pubmed_id)  for ele in list(tsv_data['pubmed_id']))
            date_all.append(tsv_data['date'][0])
            cite_all.append(res)
        df_date = pd.DataFrame({'date': np.array(list(date_all)), 'cite': np.array(list(cite_all)),})
        df_date.to_csv(os.path.join(gene_files, str(str(gene_name) + '.tsv')), sep="\t")

1 290 348 APOE
2 506 627 BDNF
3 1545 1956 EGFR
4 1660 2099 ESR1
5 1896 2475 MTOR
6 2406 3091 HIF1A
7 2773 3569 IL6
8 2779 3576 CXCL8
9 3643 4780 NFE2L2
10 5131 6622 SNCA
11 5266 6774 STAT3
12 5493 7040 TGFB1
13 5572 7124 TNF
14 5600 7157 TP53
15 5818 7422 VEGFA
16 7976 10413 YAP1
17 10966 29126 CD274
18 13030 56339 METTL3
19 13701 59272 ACE2
20 16728 114548 NLRP3