In [1]:
import pandas as pd

In [3]:
ace2_data = pd.read_csv('ACE2.tsv', sep='\t')

In [5]:
display(ace2_data.head())

   Unnamed: 0        date  cite
0           0  2023-01-06     2
1           1  2023-01-12     1
2           2  2023-03-03     0
3           3  2023-03-17     0
4           4  2023-04-22     0

In [7]:
ace2_data['date'] = pd.to_datetime(ace2_data.date, infer_datetime_format = True) 
display(ace2_data.head())

/var/folders/59/3r6j8q2j5slbl892ctps9kgw0000gq/T/ipykernel_90634/3461131833.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  ace2_data['date'] = pd.to_datetime(ace2_data.date, infer_datetime_format = True)

   Unnamed: 0       date  cite
0           0 2023-01-06     2
1           1 2023-01-12     1
2           2 2023-03-03     0
3           3 2023-03-17     0
4           4 2023-04-22     0

In [14]:
ace2_data.sort_values(by = 'date', ascending = True, inplace = True) 
display(ace2_data.head())

     Unnamed: 0       date  cite
65           65 2022-11-17     1
107         107 2022-11-18     1
108         108 2022-11-19     2
100         100 2022-11-20     1
99           99 2022-11-21     0

In [18]:
output_file = 'ACE2_sorted.tsv'

In [20]:
ace2_data.to_csv(output_file, sep='\t', index=False, header=True)